@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* Custom color palette */
  --color-blue-950: #10141E;
  --color-blue-900: #161D2F;
  --color-blue-500: #5A698F;
  --color-red-500: #FC4747;

  --color-white: #F2F4F8;
  --color-white-100: #F5F6FA;
  --color-white-200: #EEF1F6;
  --color-white-300: #E6EAF2;
}
body[data-theme="dark"] {
  background-color: var(--color-blue-950);
}
body[data-theme="light"] {
  background-color: var(--color-white);
}
html,
body {
  font-family: var(--font-sans);
}
